.c-item {
    height: 700px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

h3 {
    padding: 30px 0;
}

h3 > i {
    font-size: 1.5rem;
    margin-left: -20px;
    padding-right: 18px;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

ol li a {
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

li a::after{
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background: #c4c4f7;
}

li a:hover::after {
    width: 100%;
}